<div class="text-center">
    <h1>Welcome  <%= user %></h1>
    <p>Name:<%= usersinfo.kid%></p>
    <p>AGE: <%= usersinfo.age%></p>
    <p>Name:<%= usersinfo.kid%></p>
    <p>AGE: <%= usersinfo.age%></p>
    <p>Name:<%= usersinfo.kid%></p>
    <p>AGE: <%= usersinfo.age%></p>
    </div>